USE [HRM]
GO
/****** Object:  User [harlem]    Script Date: 02/10/2025 17:19:40 ******/
CREATE USER [harlem] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [loja-PC\harlem]    Script Date: 02/10/2025 17:19:40 ******/
CREATE USER [loja-PC\harlem] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SERVER-ABC\Harlem]    Script Date: 02/10/2025 17:19:40 ******/
CREATE USER [SERVER-ABC\Harlem] FOR LOGIN [SERVER-ABC\Harlem] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ESTOQUE_PRODUTO]    Script Date: 02/10/2025 17:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTOQUE_PRODUTO](
	[CODIGO] [int] NOT NULL,
	[CODIGO_PRODUTO] [int] NOT NULL,
	[TIPO_LANCAMENTO] [char](1) NOT NULL,
	[QUANTIDADE] [int] NOT NULL,
	[DATA] [datetime] NULL,
	[TAG] [varchar](10) NULL,
	[USUARIO] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTOQUE_PRODUTO_TMP]    Script Date: 02/10/2025 17:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTOQUE_PRODUTO_TMP](
	[CODIGO] [int] NOT NULL,
	[CODIGO_PRODUTO] [int] NOT NULL,
	[TIPO_LANCAMENTO] [char](1) NOT NULL,
	[QUANTIDADE] [int] NOT NULL,
	[DATA] [datetime] NULL,
	[TAG] [varchar](10) NULL,
	[USUARIO] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAMILIA_PRODUTO]    Script Date: 02/10/2025 17:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILIA_PRODUTO](
	[CODIGO] [int] NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA_PRODUTO]    Script Date: 02/10/2025 17:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA_PRODUTO](
	[CODIGO] [int] NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 02/10/2025 17:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[CODIGO] [int] NOT NULL,
	[CODIGO_INTERNO] [varchar](15) NULL,
	[DESCRICAO] [varchar](80) NOT NULL,
	[CODIGO_BARRAS] [varchar](13) NULL,
	[ESTOQUE_MINIMO] [int] NOT NULL,
	[ESTOQUE_ATUAL] [int] NOT NULL,
	[CODIGO_MARCA] [int] NULL,
	[CODIGO_FAMILIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 02/10/2025 17:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  DEFAULT ((0)) FOR [ESTOQUE_MINIMO]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  DEFAULT ((0)) FOR [ESTOQUE_ATUAL]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ESTOQUE_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_ESTOQUE_PRODUTO] FOREIGN KEY([CODIGO_PRODUTO])
REFERENCES [dbo].[PRODUTO] ([CODIGO])
GO
ALTER TABLE [dbo].[ESTOQUE_PRODUTO] CHECK CONSTRAINT [FK_ESTOQUE_PRODUTO]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_FAMILIA] FOREIGN KEY([CODIGO_FAMILIA])
REFERENCES [dbo].[FAMILIA_PRODUTO] ([CODIGO])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_FAMILIA]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_MARCA] FOREIGN KEY([CODIGO_MARCA])
REFERENCES [dbo].[MARCA_PRODUTO] ([CODIGO])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_MARCA]
GO
